/* || ABOUT ME */
.about {
    /* display */
    background-image: url("../assets/about/bg.png"),
        linear-gradient(180deg, #409CEF 0%, #79F3FF 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    /* dimensions */
    width: 100vw;
    height: 120vh;

    /* content */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.about .container {
    /* dimensions */
    width: 90%;
    height: 90%;

    /* content */
    display: grid;
    grid-template: 20% 80% / 100%;
    justify-items: center;
    align-items: stretch;
    gap: 2rem;
}

.about .section-heading {
    width: 100%;
    height: 15vh;
    transition: transform 1s ease-in;
    animation: idle 3s ease-in infinite;
    animation-delay: 0s, 2s;
    align-self: center;
}

.about .section-heading img {
    /* position */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about .section-body {
    width: 90%;
    height: 80%;

    display: grid;
    grid-template: 1.5fr 1fr / 1fr 1.5fr;
    grid-template-areas: 
    "photo intro"
    "social intro";

    /* display */
    border-radius: 2rem;
    background: linear-gradient(180deg, #f3f3f347 0%, #e0e0e02e 35.59%, #e1e1e129 56.69%, #ececec40 100%);
    border: 1rem solid;
    border-image: linear-gradient(180deg, #f3f3f347 0%, #e0e0e02e 35.59%, #e1e1e129 56.69%, #ececec40 100%);
    box-shadow: 0px 4px 17px 0px #0000001a, 0px -2px 3px 0px #0000004d inset, 0px 1px 7px 0px #ffffff1a inset, 0px 3px 8px 0px #ffffff40 inset;
    backdrop-filter: blur(15px);
}

.about .photo {
    grid-area: photo;
    justify-self: center;
    align-self: center;

    border-radius: 180%;
    background-image: conic-gradient(from var(--angle), #FFD600 0grad, #FFD600 70grad, #FF37BB 120grad, #26FFB0 180grad, #0057FF 270grad, #FFF 300grad, #FFD600 360grad);
    width: 16rem;
    height: 16rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.about .profile {
    width: 15rem;
    height: 15rem;
    border-radius: 80%;
}

.about .social {
    grid-area: social;

    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 1rem;
}

.about .intro-para {
    grid-area: intro;
}

.about .social > div {
    justify-self: center;
    height: 60%;
    transition: transform 0.25s ease-in-out;
}

.about .social > div img {
    object-fit: contain;
}

.about .social div:hover,
.about .social div:focus {
   transform: scale(1.1);
}

.about .intro-para {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    background: #ffffff38;
    padding: 2rem;
}

.about hr {
    width: 50%;
    align-self: center;
}

.about p {
    color: var(--color-dark-200);
    font-family: var(--font-family-body);
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-h);
    line-height: var(--font-line-height-h);
    letter-spacing: var(--font-letter-spacing-p);
    text-shadow: var(--text-shadow-white);
}

.about h3 {
    color: var(--color-accent);
    font-family: var(--font-family-body);
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-h);
    letter-spacing: var(--font-letter-spacing-h);
    text-shadow: var(--text-shadow-blue);
}

/* || MEDIA */
@media (max-width: 770px) {
    .about {
        height: 150vh;
    }

    .about .container {
        height: 100%;
    }

    .about .section-body {
        grid-template: 1fr 0.5fr auto / 1fr;
        grid-template-areas: 
        "photo"
        "social"
        "intro";

        height: 90%;
    }

    .about hr {
        display: none;
    }
    
    .about .social div {
        height: 60%;
    }

    .about .intro-para {
        gap: 1rem;
    }

    .about h3 {
        font-size: var(--font-size-h2);
    }
}

@media (max-width: 576px) {
    .about {
        font-size: 1rem;
        height: 180vh;
    }

    .about .section-body {
        grid-template: 1fr 20% auto / 1fr;
        grid-template-areas: 
        "photo"
        "social"
        "intro";
    }
}