/* || FOOTER */
.footer {
    /* dimensions */
    width: 100vw;
    height: 100vh;

    position: relative;
}

.footer .container {
    /* dimensions */
    width: 100%;
    height: 100%;

    /* display */
    background-image: url("../assets/footer/bg.png");
    background-size: cover;
    background-position: center;

    /* content */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: visible;
}
 
@media (max-width: 880px) {
    .footer .container {
        background-image: url("../assets/footer/bg-tablet.png");
    }
}

@media (max-width: 600px) {
    .footer .container {
        background-image: url("../assets/footer/bg-mobile.png");
    }
}