/* || MEDIA QUERIES */
@media (min-width: 993px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 993px) {
    :root {
        --font-size-h3: 1.25rem;
    }

    /* general */
    html {
        font-size: 14px;
    }

    /* navigation */
    .nav-button {
        width: 4rem;
        height: 4rem;
    }

    .internal-links {
        gap: 7rem;
        height: 55%;
    }

    .external-links {
        gap: 3rem;
    }

    /* landing */
    .hero .content {
        gap: 3rem;
    }

    .hero .hero-wrapper {
        height: 44vh;
    }

    .hero .hero-tagline .ul {
        padding-top: 1rem;
    }

}

@media (max-width: 770px) {
    /* General */
    :root {
        --font-size-h2: 1.75rem;
    }

    html {
        font-size: 13px;
    }

    .blogs, .project {
        height: 150vh;
    }

    /* navigation */
    .close-modal {
        top: -10%;
        right: -5%;
    }

    .close-modal:hover,
    .close-modal:focus {
        top: -9%;
    }

    .close-modal:active {
        top: -8%;
    }

    .modal-gif.opening,
    .modal-gif.closing {
        display: none;
    }

    .internal-links {
        gap: 2rem;
        overflow: visible;
        flex-direction: column;
    }

    .internal-links a {
        background: transparent;
        box-shadow: none;
        border: none;
        border-radius: none;

        color: var(--color-off-white);
        font-size: var(--font-size-h1);
        overflow: visible;

        align-self: auto;
    }

    .internal-links a:hover {
        color: var(--color-accent);
        box-shadow: none;
    }
}

@media (max-width: 576px) {
    /* root */
    :root {
        --font-size-h2: 1.5rem;
    }

    /* hero */
    .hero .hero-wrapper {
        height: 35vh;
    }

    .hero .cat-sprite {
        max-width: 3rem;
    }

    .hero .hero-tagline .ul {
        gap: 1rem;
        flex-wrap: wrap;
    }
}

