/* || MEDIA QUERIES */
@media (min-width: 993px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 993px) {
    :root {
        --font-size-h3: 1.25rem;
    }

    /* general */
    html {
        font-size: 14px;
    }
}

@media (max-width: 770px) {
    /* General */
    :root {
        --font-size-h2: 1.75rem;
    }

    html {
        font-size: 13px;
    }

    .blogs, .project {
        height: 150vh;
    }
}

@media (max-width: 576px) {
    /* root */
    :root {
        --font-size-h2: 1.5rem;
    }
}

