/* PROJECTS */
.project {
    /* display */
    background-image: url("../assets/project/bg.png"), linear-gradient(180deg, #4C86C2 0%, #3B6B9C 50.82%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* dimensions */
    width: 100vw;
    height: 140vh;

    /* margin & padding */
    padding: 1rem;

    /* position */
    position: relative;
    z-index: 0;

    /* content */
    display: flex;
    justify-content: center;
    align-items: center;
}

.project .container {
    /* For background stars to not pass-through */
    z-index: 2;

    /* dimensions */
    width: 90%;
    height: 90%;

    /* content */
    display: grid;
    grid-template-rows: 15vh 15vh auto minmax(50vh, 1fr) 15vh;
    grid-template-columns: 6fr 4fr;
    grid-template-areas:
        "plane plane"
        ". wip"
        "name name"
        "img info"
        "button button";
    column-gap: 2rem;
    overflow: visible;
}

.project.five {
    background-image: url("../assets/project/bg2.png"), linear-gradient(180deg, #4C86C2 0%, #3B6B9C 50.82%);
}

.project .section-heading {
    grid-area: plane;
    align-self: center;
    width: 100%;
    height: 70%;
    transition: transform 1s ease-in;
    animation: move-in-right 2s ease-in-out forwards, idle 3s ease-in infinite;
    animation-delay: 0s, 2s;
    margin-bottom: 1rem;
}

.project .section-heading>img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project .wip {
    grid-area: wip;
    align-self: end;
    width: 100%;
    height: 50%;
    text-align: end;
    overflow: hidden;
    padding-right: 2rem;
}

.project .section-body {
    /* content */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    /* dimensions */
    width: 100%;
    height: 75%;

    overflow: inherit;
}

.project .project-name {
    grid-area: name;
    margin-bottom: 2rem;

    /* display */
    background: var(--color-off-white);
    border-radius: 1rem;
    border: 5px solid var(--color-dark-neutral);
    box-shadow: 0px 4px 0px 0px #FFF inset,
        0px 8px 0px 0px #FFFAE7 inset,
        0px -8px 0px 0px #BFBEB8 inset;
    padding: 1rem 1rem 0.5rem 1rem;

    /* dimensions */
    width: 100%;

    /* text */
    color: var(--color-dark-100);
    font-family: var(--font-family-body);
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-h);
    letter-spacing: 0.075rem;
    text-align: var(--text-align-center);

    overflow: inherit;
}

.project .project-info {
    /* content */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;

    /* dimensions */
    width: 100%;
    height: 100%;
}

.project .project-img {
    grid-area: img;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 98%;
    border-radius: 2rem;
    box-shadow: 8px 10px black;
    transition: background-image 0.5s ease-in, transform 0.25s ease-in;
}

#project-1 .project-img {
    background-image: url("../assets/project/homestyles.png");
}

#project-1 .project-img:hover {
    background-image: url("../assets/project/hoemstyles-hover.jpg");
}

#project-2 .project-img {
    background-image: url("../assets/project/goManga.png");
}

#project-2 .project-img:hover {
    background-image: url("../assets/project/goManga-hover.png");
}

#project-3 .project-img {
    background-image: url("../assets/project/regex.png");
}

#project-3 .project-img:hover {
    background-image: url("../assets/project/regex-hover.png");
}

#project-4 .project-img {
    background-image: url("../assets/project/weatherApp.png");
    background-size: cover;
}

#project-4 .project-img:hover {
    background-image: url("../assets/project/weatherApp-hover.png");
}

#project-5 .project-img {
    background-image: url("../assets/project/drumKit.png");
    background-size: cover;
}

#project-5 .project-img:hover {
    background-image: url("../assets/project/drumKit-hover.png");
}

.project .project-description {
    grid-area: info;

    /* display */
    background: #d9d9d966;
    box-shadow: 0px 4px 15px 0px #ffffff40 inset, 0px 2px 0px 0px #ffffff40 inset;
    border-radius: 1rem;
    backdrop-filter: blur(0.5rem);

    /* dimensions */
    width: 100%;
    height: 100%;

    /* box-sizing */
    padding: 2rem;

    /* text */
    font-family: var(--font-family-body);
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-body);
    letter-spacing: var(--font-letter-spacing-p);

    /* content */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 1rem;
}

.project .project-description>* {
    overflow: hidden;
}

.project .desc-group {
    /* content */
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow: hidden;
}

.project .desc-group .h3 {
    color: var(--color-accent);
    text-align: var(--text-align-center);
    text-transform: var(--text-transform-capitalize);
    overflow: hidden;
}

hr {
    border: none;
    width: 100%;
    height: 2px;
    background-color: var(--color-dark-100);
    border-radius: 50%;
}

.accent {
    color: var(--color-accent-blue);
}

.project .desc-group .desc-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.5rem;
    overflow: hidden;
}

.project .desc-group img {
    width: 10%;
    height: var(--font-size-h2);
    object-fit: scale-down;
    object-position: center center;
    animation: flip 3s infinite;
}

.project .desc-group .p {
    width: 90%;
    color: var(--color-white);
    font-size: var(--font-size-body);
    line-height: var(--font-line-height-h);
    overflow: hidden;
    text-overflow: ellipsis;
}

.project .project-links {
    grid-area: button;
    display: grid;
    grid-template: 1fr / repeat(auto-fit, minmax(100px, 1fr));
    column-gap: 2rem;
    margin-top: 1rem;
    padding: 1rem;
}

/* || MEDIA */
@media(max-width: 770px) {
    .project {
        background-image: url("../assets/project/bg-tablet.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 160vh;
    }

    .project .container {
        display: grid;
        grid-template-rows: 15vh 10vh max-content 1fr 1.5fr min-content;
        grid-template-columns: 1fr;
        grid-template-areas:
            "plane"
            "wip"
            "name"
            "img"
            "info"
            "button";
    }

    .project .project-name {
        margin-bottom: 1rem;
    }

    .project .project-img {
        box-shadow: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .project .project-description {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding: 1rem;
    }

    .project .desc-group .desc-item {
        padding: 0.25rem;
    }

    .project .project-links {
        margin-top: 0%;
    }

    .project .project-links button {
        padding: 1rem;
    }
}

@media (max-width: 576px) {
    .project {
        background-image: url("../assets/project/bg-mobile-1.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 180vh;
    }

    .project.five {
        background-image: url("../assets/project/bg-mobile-2.png");
    }
}

@media (max-width: 445px) {
    .project .container {
        display: grid;
        grid-template-rows: 15vh 10vh max-content 1fr min-content;
        grid-template-columns: 1fr;
        grid-template-areas:
            "plane"
            "wip"
            "name"
            "img"
            "button";
    }

    .project .project-description {
        display: none;
    }
    
    .project .project-img {
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }

    .project .project-links {
        row-gap: 1rem;
    }    
}