/* || SITEWIDE */

/* Buttons */
.button {
    /* display */
    background-color: var(--color-dark-300);
    box-shadow: 6px 6px 0px 0px #FFD600, 7px 7px 0px 0px #000;
    border-radius: 0.5rem;
    padding: 1rem 2.5rem;
    cursor: url("../assets/hand.svg"), auto;
    
    /* position */
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;

    /* dimensions */
    width: 100%;
    
    /* animation */
    transition: all .15s linear 0s;
    
    /* text */
    font-family: var(--button-font-family);
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    text-align: var(--button-text-align);
    text-decoration: none;
    text-shadow: var(--text-shadow-blue);
    text-transform: var(--button-text-transform);
    color: var(--button-color);
    line-height: var(--button-line-height);
    letter-spacing: var(--font-letter-spacing-h);

    overflow: visible;
}

.button:hover {
    background-color: var(--color-dark-neutral);
    top: 1px;
    left: 1px;
    box-shadow: 5px 5px 0px 0px #FFD600, 6px 6px 0px 0px #000;
}

.button:hover::after {
    bottom: -2px;
    left: 0px;
    width: 10px;
    height: 7px;
}

.button:hover::before {
    top: 3px;
    right: -5px;
    width: 10px;
    height: 8px;
}

.button::after {
    transition: all .15s linear 0s;
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0px;
    width: 12px;
    height: 8px;
    background-color: #FFD600;
    transform: rotate(45deg);
    z-index: -1;
}

.button::before {
    transition: all .15s linear 0s;
    content: '';
    position: absolute;
    top: 3px;
    right: -6px;
    width: 12px;
    height: 8px;
    background-color: #FFD600;
    transform: rotate(45deg);
    z-index: -1;
}

.button:active {
    top: 7px;
    left: 7px;
    box-shadow: none;
}

.button:active::before {
    top: 1px;
    right: 1px;
    width: 0px;
    height: 0px;
}

.button:active::after {
    bottom: 2px;
    left: 0px;
    /* width: 0px; */
    /* height: 0px; */
}

/* Blinking stars */
.bg.stars {
    /* animation */
    transition: transform 1s ease-in;
    animation: blink 3s ease-in-out infinite;

    /* display */
    opacity: 0;

    /* dimensions */
    width: 100%;
    height: 100%;

    /* position */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.bg.stars.one {
    /* display */
    background-image: url("../assets/loading/blinking-stars.svg");
    background-repeat: repeat;
}

.bg.stars.two {
    /* animation */
    animation-delay: 1.5s;
    opacity: 0;

    /* display */
    background-image: url("../assets/loading/stars.svg");
    background-repeat: repeat;
}

.projects .stars {
    animation-duration: 8s;
}

.project .stars.one {
    animation-delay: 0.5s;
}

.project .stars.two {
    animation-delay: 2s;
}

/* || NAVIGATION */
.nav {
    position: fixed;
    z-index: 1000;
    width: 100%;
    overflow: visible;
}

.nav-button {
    position: relative;
    top: 0;
    width: 5rem;
    height: 5rem;
    background-image: linear-gradient(174deg, #d9d9d917 0%, #d9d9d93b 23.56%, #d9d9d91a 54.08%, #d9d9d92b 74.62%, #d9d9d914 100%), linear-gradient(168deg, #d9d9d924 0%, #d9d9d93b 23.56%, #d9d9d926 54.08%, #d9d9d933 74.62%, #d9d9d91c 100%);
    box-shadow: 0px 8px 0px 0px #412220, 
    0px 14px 0px 0px #41222026 inset, 
    0px 8px 0px 0px #41222042 inset;
    border-radius: 0.75rem / 1.5rem;
    cursor: url("../assets/hand.svg"), auto;
}

.nav-button img {
    height: 60%;
    transition: opacity 0.5s ease-in;
}

.nav-button:hover,
.nav-button:focus {
    top: 4px;
    box-shadow: 0px 4px 0px 0px #412220,
    0px 14px 0px 0px #41222026 inset, 
    0px 8px 0px 0px #41222042 inset;
}

.nav-button:active {
    top: 8px;
    box-shadow: 0px 14px 0px 0px #41222026 inset, 
    0px 8px 0px 0px #41222042 inset;
}

/* Opening map button */
.open-modal {
    position: absolute;
    top: 1%;
    right: 1%;
    z-index: 1001;
}

.home {
    position: absolute;
    top: 1%;
    left: 1%;
    z-index: 1001;
}

/* Map */
.modal {
    /* position */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1111;

    /* dimensions */
    width: 100vw;
    height: 100vh;

    /* display */
    background-color: rgba(0, 0, 0, 0.8);
    
    /* content */
    display: none;
    justify-content: center;
    align-items: center;
}

/* Map contents & gifs */
.modal-content,
.modal-gif {
    /* position */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Map contents only */
.modal-content {
    /* dimensions */
    width: 80%;
    height: 80%;

    /* position */
    z-index: 5;

    /* animation */
    opacity: 0;

    /* contents */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    overflow: visible;
}

/* Closing map button */
.close-modal {
    align-self: flex-end;
    height: 10%;
    position: relative;
    top: -5%;
    right: 5%;
    z-index: 1000;
}

.close-modal:hover,
.close-modal:focus {
    top: -4%;
    box-shadow: 0px 4px 0px 0px #412220,
    0px 14px 0px 0px #41222026 inset, 
    0px 8px 0px 0px #41222042 inset;
}

.close-modal:active {
    top: -3%;
    box-shadow: 0px 14px 0px 0px #41222026 inset, 
    0px 8px 0px 0px #41222042 inset;
}

/* Page links */
.internal-links {
    /* width: auto; */
    height: 60%;

    /* content */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8rem;
    overflow: visible;

    /* position */
    align-self: center;
}

.internal-links a {
    /* display */
    background: var(--color-off-white);
    box-shadow: 0px 4px 0px 0px #301F23;
    border: 2px solid var(--color-dark-neutral);
    border-radius: 5px;

    /* text */
    color: var(--color-dark-neutral);
    text-align: var(--text-align-center);
    font-family: var(--font-family-display);
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-body);
    line-height: var(--font-line-height-body);
    letter-spacing: 3.6px;
    text-transform: var(--text-transform-uppercase);
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.internal-links a:hover {
    position: relative;
    top: 2px;
    box-shadow: 0px 2px 0px 0px #301F23;
}

.internal-links a:active {
    position: relative;
    top: 4px;
    box-shadow: none;
}

.internal-links a:first-child,
.internal-links a:nth-child(3) {
    align-self: flex-start;
}

.internal-links a:nth-child(2),
.internal-links a:last-child {
    align-self: flex-end;
}

/* Page buttons */
.external-links {
    /* dimensions */
    /* width: 80%; */
    height: 10%;

    /* content */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    overflow: visible;
    gap: 5rem;

    /* position */
    align-self: center;
}

.external-links a {
    /* display */
    border-radius: 20px;
    border: 4px solid #301F23;
    background: #69A5C9;
    box-shadow: 0px 12px 0px 0px #6DABD0 inset, 0px 10px 0px 0px #74B4DB inset, 0px 6px 0px 0px #BBDCEE inset, 0px -8px 0px 0px #636A7F inset;
    padding: 0.5rem 1rem;

    /* text */
    color: var(--color-accent);
    text-align: var(--text-align-center);
    text-shadow: var(--text-shadow-blue);
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-h);
    text-transform: var(--text-transform-uppercase);
    letter-spacing: var(--font-letter-spacing-p);
    text-decoration: none;

    /* contents */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    /* dimensions */
    height: 100%;
}

.external-links a:first-child img {
    max-height: 50%;
}

.external-links a:hover {
    transform: scale(1.1);
}

/* Map gif only */
.modal-gif {
    /* dimensions */
    max-width: 100%;
    height: 100%;

    /* display */
    opacity: 0;
    aspect-ratio: 1.55 / 1;
}

.modal-gif.opening {
    z-index: 4;
}

.modal-gif.closing {
    z-index: 3;
}